
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Destek Talebi Sistemi</h1>
        <p class="lead">Destek talepleri oluşturma ve cevaplandırma ortamı. </p>
        <hr class="my-4">
        <p>Visual Studio 2017, Asp.Net Mvc uygulaması.</p>
        <a class="btn btn-warning btn-sm" href="/account/register" role="button">Kayıt ol</a>

    </div>
</div>

<div class="container">
    <div class="card-group">
        <div class="card">

            <img class="card-img-top" width="180" height="180" src="/resim/kullanici.jpg">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı Girişi</h5>
                <p class="card-text">Destek talebi oluşturmak için lütfen giriş yapınız.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-lg" href="/DestekTalebi" role="button">Giriş yap</a>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" width="180" height="180" src="/resim/admin2.jpg">
            <div class="card-body">
                <h5 class="card-title">Admin Girişi</h5>
                <p class="card-text">Yetkili girişi.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-lg" href="/AdminDestekTalebi" role="button">Giriş yap</a>
            </div>
        </div>
    </div>
</div>

